# All protocol consolidation

## Importing other Python Libraries/Modules

In [1]:
import re
import os
import sys
import string
from collections import defaultdict
import glob
import warnings
from datetime import datetime
from datetime import timedelta
import ast

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import xlrd

In [3]:
# setting path
sys.path.append('../../src')

In [4]:
from eloscore import eloscore

In [5]:
# Increase size of plot in jupyter

plt.rcParams["figure.figsize"] = (18,10)

# Summary

- Experiment

- Data

- Purpose of this Jupyter Notebook

In [6]:
all_final_elo_score_file_paths = glob.glob("./pilot*/**/*final_elo_score*.csv", recursive=True)

In [7]:
all_final_elo_score_file_paths

['./pilot_1/proc/elo_score_spread_sheets/tube_test_elo_score/cage_1_2_3_4_date_2022-04-25_2022-05-20/tube_test_final_elo_score_cages_1_2_3_4_date_2022-04-25_2022-05-20.csv',
 './pilot_1/proc/elo_score_spread_sheets/home_cage_observation_elo_score/cage_3_4_date_2022-05-02_2022-05-13/home_cage_observation_final_elo_score_cages_3_4_date_2022-05-02_2022-05-13.csv',
 './pilot_1/proc/elo_score_spread_sheets/reward_competition_elo_score/cage_1_2_3_4_date_20220519_20220520/reward_competition_final_elo_score_cages_1_2_3_4_date_20220519_20220520.csv',
 './pilot_1/proc/elo_score_spread_sheets/urine_marking_elo_score/cage_1_2_3_4_date_2022-05-18_2022-06-01/urine_marking_final_elo_score_cages_1_2_3_4_date_2022-05-18_2022-06-01.csv',
 './pilot_2/proc/elo_score_spread_sheets/tube_test_elo_score/cage_1_2_3_4_5_6_date_2022-07-11_2022-07-29/tube_test_final_elo_score_cages_1_2_3_4_5_6_date_2022-07-11_2022-07-29.csv',
 './pilot_2/proc/elo_score_spread_sheets/home_cage_observation_elo_score/cage_1_2_3_4_5_6_date_2012-08-11_2022-08-11/home_cage_observation_final_elo_score_cages_1_2_3_4_5_6_date_2012-08-11_2022-08-11.csv',
 './pilot_2/proc/elo_score_spread_sheets/reward_competition_elo_score/cage_1_2_3_4_5_6_date_20220728_20220729/reward_competition_final_elo_score_cages_1_2_3_4_5_6_date_20220728_20220729.csv',
 './pilot_2/proc/elo_score_spread_sheets/urine_marking_elo_score/cage_1_2_3_4_5_6_date_2022-07-11_2022-08-08/urine_marking_final_elo_score_cages_1_2_3_4_5_6_date_2022-07-11_2022-08-08.csv',
 './pilot_3/proc/elo_score_spread_sheets/tube_test_elo_score/cage_1_2_3_4_5_6_date_2022-09-06_2022-09-27/tube_test_final_elo_score_cages_1_2_3_4_5_6_date_2022-09-06_2022-09-27.csv',
 './pilot_3/proc/elo_score_spread_sheets/home_cage_observation_elo_score/cage_2_4_5_date_2022-09-07_2022-10-05/home_cage_observation_final_elo_score_cages_2_4_5_date_2022-09-07_2022-10-05.csv',
 './pilot_3/proc/elo_score_spread_sheets/reward_competition_elo_score/cage_1_2_3_4_5_6_date_20221003_20221004/reward_competition_final_elo_score_cages_1_2_3_4_5_6_date_20221003_20221004.csv',
 './pilot_3/proc/elo_score_spread_sheets/urine_marking_elo_score/cage_1_2_3_4_5_6_date_2022-09-12_2022-09-16/urine_marking_final_elo_score_cages_1_2_3_4_5_6_date_2022-09-12_2022-09-16.csv']

In [8]:
len(all_final_elo_score_file_paths)

12

In [9]:
all_final_elo_score_df = []
for file_path in all_final_elo_score_file_paths:
    per_experiment_df = pd.read_csv(file_path, index_col=0)
    per_experiment_df["subject_id"] = per_experiment_df["subject_id"].astype(float).astype(str)
    print(file_path)
    print(per_experiment_df["subject_id"].unique())
    all_final_elo_score_df.append(per_experiment_df)

./pilot_1/proc/elo_score_spread_sheets/tube_test_elo_score/cage_1_2_3_4_date_2022-04-25_2022-05-20/tube_test_final_elo_score_cages_1_2_3_4_date_2022-04-25_2022-05-20.csv
['1.1' '1.2' '1.3' '1.4' '2.1' '2.2' '2.3' '2.4' '3.1' '3.2' '3.3' '3.4'
 '4.1' '4.2' '4.3' '4.4']
./pilot_1/proc/elo_score_spread_sheets/home_cage_observation_elo_score/cage_3_4_date_2022-05-02_2022-05-13/home_cage_observation_final_elo_score_cages_3_4_date_2022-05-02_2022-05-13.csv
['3.1' '3.2' '3.3' '3.4' '4.1' '4.2' '4.3' '4.4']
./pilot_1/proc/elo_score_spread_sheets/reward_competition_elo_score/cage_1_2_3_4_date_20220519_20220520/reward_competition_final_elo_score_cages_1_2_3_4_date_20220519_20220520.csv
['1.1' '1.2' '1.3' '1.4' '2.1' '2.2' '2.3' '2.4' '3.1' '3.2' '3.3' '3.4'
 '4.1' '4.2' '4.3' '4.4']
./pilot_1/proc/elo_score_spread_sheets/urine_marking_elo_score/cage_1_2_3_4_date_2022-05-18_2022-06-01/urine_marking_final_elo_score_cages_1_2_3_4_date_2022-05-18_2022-06-01.csv
['1.1' '1.2' '1.3' '1.4' '2.1' '2.2' '2.3' '2.4' '3.1' '3.2' '3.3' '3.4'
 '4.1' '4.2' '4.3' '4.4']
./pilot_2/proc/elo_score_spread_sheets/tube_test_elo_score/cage_1_2_3_4_5_6_date_2022-07-11_2022-07-29/tube_test_final_elo_score_cages_1_2_3_4_5_6_date_2022-07-11_2022-07-29.csv
['1.1' '1.2' '1.3' '1.4' '2.1' '2.2' '2.3' '2.4' '3.1' '3.2' '3.3' '3.4'
 '4.1' '4.2' '4.3' '4.4' '5.1' '5.2' '5.3' '5.4' '6.1' '6.2' '6.3' '6.4']
./pilot_2/proc/elo_score_spread_sheets/home_cage_observation_elo_score/cage_1_2_3_4_5_6_date_2012-08-11_2022-08-11/home_cage_observation_final_elo_score_cages_1_2_3_4_5_6_date_2012-08-11_2022-08-11.csv
['1.1' '1.2' '1.3' '1.4' '2.1' '2.2' '2.3' '2.4' '3.1' '3.2' '3.3' '3.4'
 '4.1' '4.2' '4.3' '4.4' '5.1' '5.2' '5.3' '5.4' '6.1' '6.2' '6.3' '6.4']
./pilot_2/proc/elo_score_spread_sheets/reward_competition_elo_score/cage_1_2_3_4_5_6_date_20220728_20220729/reward_competition_final_elo_score_cages_1_2_3_4_5_6_date_20220728_20220729.csv
['1.1' '1.2' '1.3' '1.4' '2.4' '2.1' '2.2' '2.3' '3.1' '3.2' '3.3' '3.4'
 '4.1' '4.2' '4.3' '4.4' '5.1' '5.2' '5.3' '5.4' '6.1' '6.2' '6.3' '6.4']
./pilot_2/proc/elo_score_spread_sheets/urine_marking_elo_score/cage_1_2_3_4_5_6_date_2022-07-11_2022-08-08/urine_marking_final_elo_score_cages_1_2_3_4_5_6_date_2022-07-11_2022-08-08.csv
['1.1' '1.2' '1.3' '1.4' '2.1' '2.2' '2.3' '2.4' '3.1' '3.2' '3.3' '3.4'
 '4.1' '4.2' '4.3' '4.4' '5.1' '5.2' '5.3' '5.4' '6.1' '6.2' '6.3' '6.4']
./pilot_3/proc/elo_score_spread_sheets/tube_test_elo_score/cage_1_2_3_4_5_6_date_2022-09-06_2022-09-27/tube_test_final_elo_score_cages_1_2_3_4_5_6_date_2022-09-06_2022-09-27.csv
['1.1' '1.2' '1.3' '1.4' '2.1' '2.2' '2.3' '2.4' '3.1' '3.2' '3.3' '3.4'
 '4.1' '4.2' '4.3' '4.4' '5.1' '5.2' '5.3' '5.4' '6.1' '6.2' '6.3' '6.4']
./pilot_3/proc/elo_score_spread_sheets/home_cage_observation_elo_score/cage_2_4_5_date_2022-09-07_2022-10-05/home_cage_observation_final_elo_score_cages_2_4_5_date_2022-09-07_2022-10-05.csv
['2.1' '2.2' '2.3' '2.4' '4.1' '4.2' '4.3' '4.4' '5.1' '5.2' '5.3' '5.4']
./pilot_3/proc/elo_score_spread_sheets/reward_competition_elo_score/cage_1_2_3_4_5_6_date_20221003_20221004/reward_competition_final_elo_score_cages_1_2_3_4_5_6_date_20221003_20221004.csv
['1.1' '1.2' '1.3' '1.4' '2.1' '2.2' '2.3' '2.4' '3.1' '3.2' '3.3' '3.4'
 '4.1' '4.2' '4.3' '4.4' '5.1' '5.2' '5.3' '5.4' '6.1' '6.2' '6.3' '6.4']
./pilot_3/proc/elo_score_spread_sheets/urine_marking_elo_score/cage_1_2_3_4_5_6_date_2022-09-12_2022-09-16/urine_marking_final_elo_score_cages_1_2_3_4_5_6_date_2022-09-12_2022-09-16.csv
['1.1' '1.2' '1.3' '1.4' '2.1' '2.2' '2.3' '2.4' '3.1' '3.2' '3.3' '3.4'
 '4.1' '4.2' '4.3' '4.4' '5.1' '5.2' '5.3' '5.4' '6.1' '6.2' '6.3' '6.4']

In [10]:
combined_final_elo_score_df = pd.concat(all_final_elo_score_df)
combined_final_elo_score_df = combined_final_elo_score_df.reset_index(drop=True)

In [11]:
combined_final_elo_score_df.head()

   cage subject_id  final_elo_score   cohort strain experiment_type  rank
0     1        1.1           1062.2  pilot_1    C57       tube_test   2.0
1     1        1.2            927.1  pilot_1    C57       tube_test   3.0
2     1        1.3            775.7  pilot_1    C57       tube_test   4.0
3     1        1.4           1235.0  pilot_1    C57       tube_test   1.0
4     2        2.1           1122.6  pilot_1    C57       tube_test   2.0

In [12]:
combined_final_elo_score_df["subject_id"].unique()

array(['1.1', '1.2', '1.3', '1.4', '2.1', '2.2', '2.3', '2.4', '3.1',
       '3.2', '3.3', '3.4', '4.1', '4.2', '4.3', '4.4', '5.1', '5.2',
       '5.3', '5.4', '6.1', '6.2', '6.3', '6.4'], dtype=object)

In [13]:
combined_final_elo_score_df.tail()

     cage subject_id  final_elo_score   cohort strain experiment_type  rank
231     5        5.4           1019.7  pilot_3    CD1   urine_marking   1.0
232     6        6.1            980.6  pilot_3    CD1   urine_marking   3.0
233     6        6.2            980.6  pilot_3    CD1   urine_marking   3.0
234     6        6.3           1028.8  pilot_3    CD1   urine_marking   1.0
235     6        6.4           1010.0  pilot_3    CD1   urine_marking   2.0

In [14]:
# experiment_to_elo_score_df = defaultdict(dict)
all_experiment_df = []
for experiment in combined_final_elo_score_df["experiment_type"].unique():
    experiment_df = combined_final_elo_score_df[combined_final_elo_score_df["experiment_type"] == experiment].copy()
    experiment_df = experiment_df.rename(columns={'final_elo_score': "{}_final_elo_score".format(experiment), 'rank': "{}_rank".format(experiment)})
    experiment_df = experiment_df.drop(columns=["experiment_type"])
    experiment_df["subject_id"] = experiment_df["subject_id"].astype(str)
    experiment_df["cage"] = experiment_df["cage"].astype(str)
    all_experiment_df.append(experiment_df)

merged_final_elo_score_df = None
for experiment_df in all_experiment_df:
    if merged_final_elo_score_df is None:
        merged_final_elo_score_df = experiment_df 
    else:
        merged_final_elo_score_df = pd.merge(experiment_df, merged_final_elo_score_df,  how='right', left_on = ["subject_id", "cohort"], right_on = ["subject_id", "cohort"])
#         break
merged_final_elo_score_df = merged_final_elo_score_df.drop_duplicates(subset=["subject_id", "cohort"], keep="last")
merged_final_elo_score_df = merged_final_elo_score_df.reset_index(drop=True)

/tmp/ipykernel_3699/1353013162.py:16: FutureWarning: Passing 'suffixes' which cause duplicate columns {'strain_y', 'cage_y'} in the result is deprecated and will raise a MergeError in a future version.
  merged_final_elo_score_df = pd.merge(experiment_df, merged_final_elo_score_df,  how='right', left_on = ["subject_id", "cohort"], right_on = ["subject_id", "cohort"])

In [15]:
merged_final_elo_score_df.head(n=50)

,cage_x,subject_id,urine_marking_final_elo_score,cohort,strain_x,urine_marking_rank,cage_y,reward_competition_final_elo_score,strain_y,reward_competition_rank,cage_x,home_cage_observation_final_elo_score,strain_x,home_cage_observation_rank,cage_y,tube_test_final_elo_score,strain_y,tube_test_rank
0,1,1.1,1010.3,pilot_1,C57,2.0,1,1165.8,C57,1.0,NaN,NaN,NaN,NaN,1,1062.2,C57,2.0
1,1,1.2,1000.8,pilot_1,C57,3.0,1,1007.3,C57,2.0,NaN,NaN,NaN,NaN,1,927.1,C57,3.0
2,1,1.3,972.0,pilot_1,C57,4.0,1,900.9,C57,4.0,NaN,NaN,NaN,NaN,1,775.7,C57,4.0
3,1,1.4,1016.9,pilot_1,C57,1.0,1,926.0,C57,3.0,NaN,NaN,NaN,NaN,1,1235.0,C57,1.0
4,2,2.1,1037.4,pilot_1,C57,1.0,2,1144.7,C57,1.0,NaN,NaN,NaN,NaN,2,1122.6,C57,2.0
5,2,2.2,972.0,pilot_1,C57,4.0,2,951.4,C57,3.0,NaN,NaN,NaN,NaN,2,947.8,C57,3.0
6,2,2.3,1009.2,pilot_1,C57,2.0,2,921.4,C57,4.0,NaN,NaN,NaN,NaN,2,780.7,C57,4.0
7,2,2.4,981.4,pilot_1,C57,3.0,2,982.5,C57,2.0,NaN,NaN,NaN,NaN,2,1148.9,C57,1.0
8,3,3.1,1010.6,pilot_1,CD1,1.0,3,1132.5,CD1,1.0,3,1185.0,CD1,1.0,3,784.5,CD1,4.0
9,3,3.2,999.4,pilot_1,CD1,3.0,3,963.2,CD1,3.0,3,889.6,CD1,4.0,3,1228.3,CD1,1.0
10,3,3.3,989.2,pilot_1,CD1,4.0,3,978.1,CD1,2.0,3,980.7,CD1,2.0,3,1082.2,CD1,2.0
11,3,3.4,1000.8,pilot_1,CD1,2.0,3,926.2,CD1,4.0,3,944.7,CD1,3.0,3,905.0,CD1,3.0
12,4,4.1,1009.1,pilot_1,CD1,2.0,4,1141.8,CD1,1.0,4,921.2,CD1,3.0,4,992.4,CD1,3.0
13,4,4.2,980.9,pilot_1,CD1,3.0,4,870.0,CD1,4.0,4,866.4,CD1,4.0,4,1101.8,CD1,2.0
14,4,4.3,963.9,pilot_1,CD1,4.0,4,955.1,CD1,3.0,4,924.4,CD1,2.0,4,1108.8,CD1,1.0
15,4,4.4,1046.1,pilot_1,CD1,1.0,4,1033.1,CD1,2.0,4,1288.0,CD1,1.0,4,777.0,CD1,4.0
16,1,1.1,991.9,pilot_2,C57,2.0,1,1193.9,C57,1.0,1,907.5,C57,4.0,1,1149.5,C57,1.0
17,1,1.2,1045.9,pilot_2,C57,1.0,1,1017.3,C57,2.0,1,1191.1,C57,1.0,1,1083.0,C57,2.0
18,1,1.3,972.0,pilot_2,C57,4.0,1,893.9,C57,4.0,1,923.8,C57,3.0,1,998.5,C57,3.0
19,1,1.4,990.2,pilot_2,C57,3.0,1,894.9,C57,3.0,1,977.6,C57,2.0,1,769.0,C57,4.0
20,2,2.1,1010.5,pilot_2,C57,2.0,3,798.8,C57,6.0,2,880.2,C57,4.0,2,997.5,C57,2.0
21,2,2.2,971.7,pilot_2,C57,4.0,3,877.1,C57,5.0,2,897.1,C57,3.0,2,1035.1,C57,1.0
22,2,2.3,1036.2,pilot_2,C57,1.0,3,756.7,C57,7.0,2,1317.7,C57,1.0,2,974.8,C57,4.0
23,2,2.4,981.6,pilot_2,C57,3.0,2,963.7,C57,1.0,2,905.0,C57,2.0,2,992.6,C57,3.0
24,3,3.1,1028.9,pilot_2,C57,1.0,3,1195.6,C57,2.0,3,1283.2,C57,1.0,3,1109.8,C57,1.0
25,3,3.2,973.3,pilot_2,C57,4.0,3,969.0,C57,4.0,3,898.7,C57,4.0,3,826.4,C57,4.0
26,3,3.3,1017.8,pilot_2,C57,2.0,3,1170.4,C57,3.0,3,919.3,C57,2.0,3,984.5,C57,3.0
27,3,3.4,980.0,pilot_2,C57,3.0,3,1232.4,C57,1.0,3,898.8,C57,3.0,3,1069.3,C57,2.0
28,4,4.1,989.7,pilot_2,CD1,3.0,4,885.4,CD1,4.0,4,1079.9,CD1,2.0,4,1071.4,CD1,2.0
29,4,4.2,1055.2,pilot_2,CD1,1.0,4,1032.0,CD1,3.0,4,1348.9,CD1,1.0,4,778.5,CD1,4.0
30,4,4.3,990.3,pilot_2,CD1,2.0,4,1043.6,CD1,1.0,4,763.5,CD1,4.0,4,930.8,CD1,3.0
31,4,4.4,964.8,pilot_2,CD1,4.0,4,1039.0,CD1,2.0,4,807.7,CD1,3.0,4,1209.3,CD1,1.0
32,5,5.1,953.9,pilot_2,CD1,4.0,5,1060.4,CD1,2.0,5,944.6,CD1,3.0,5,977.4,CD1,3.0
33,5,5.2,1008.8,pilot_2,CD1,3.0,5,1158.6,CD1,1.0,5,657.1,CD1,4.0,5,1064.3,CD1,2.0
34,5,5.3,1027.8,pilot_2,CD1,1.0,5,879.9,CD1,4.0,5,1089.3,CD1,2.0,5,1103.5,CD1,1.0
35,5,5.4,1009.5,pilot_2,CD1,2.0,5,901.1,CD1,3.0,5,1309.0,CD1,1.0,5,844.8,CD1,4.0
36,6,6.1,1027.0,pilot_2,CD1,1.0,6,1117.1,CD1,1.0,6,1425.3,CD1,1.0,6,943.6,CD1,3.0
37,6,6.2,962.5,pilot_2,CD1,4.0,6,948.4,CD1,3.0,6,779.7,CD1,3.0,6,1031.7,CD1,2.0
38,6,6.3,1009.7,pilot_2,CD1,2.0,6,1023.3,CD1,2.0,6,714.6,CD1,4.0,6,910.6,CD1,4.0
39,6,6.4,1000.8,pilot_2,CD1,3.0,6,911.2,CD1,4.0,6,1080.4,CD1,2.0,6,1114.1,CD1,1.0
40,1,1.1,1009.7,pilot_3,C57,2.0,1,1196.8,C57,1.0,NaN,NaN,NaN,NaN,1,1165.3,C57,1.0
41,1,1.2,1019.1,pilot_3,C57,1.0,1,974.4,C57,3.0,NaN,NaN,NaN,NaN,1,1054.5,C57,2.0
42,1,1.3,980.9,pilot_3,C57,4.0,1,1011.1,C57,2.0,NaN,NaN,NaN,NaN,1,882.3,C57,4.0
43,1,1.4,990.3,pilot_3,C57,3.0,1,817.7,C57,4.0,NaN,NaN,NaN,NaN,1,897.9,C57,3.0
44,2,2.1,1009.4,pilot_3,C57,2.0,2,1010.3,C57,3.0,2,1169.1,C57,1.0,2,1127.8,C57,1.0
45,2,2.2,970.6,pilot_3,C57,4.0,2,1121.9,C57,1.0,2,940.4,C57,3.0,2,965.6,C57,3.0
46,2,2.3,1000.6,pilot_3,C57,3.0,2,1015.0,C57,2.0,2,952.3,C57,2.0,2,1072.9,C57,2.0
47,2,2.4,1019.4,pilot_3,C57,1.0,2,852.8,C57,4.0,2,938.2,C57,4.0,2,833.7,C57,4.0
48,3,3.1,1009.4,pilot_3,C57,2.0,3,929.6,C57,4.0,NaN,NaN,NaN,NaN,3,847.8,CD1,4.0
49,3,3.2,989.4,pilot_3,C57,4.0,3,1086.0,C57,1.0,NaN,NaN,NaN,NaN,3,1024.4,CD1,2.0

In [16]:
merged_final_elo_score_df.tail(n=50)

,cage_x,subject_id,urine_marking_final_elo_score,cohort,strain_x,urine_marking_rank,cage_y,reward_competition_final_elo_score,strain_y,reward_competition_rank,cage_x,home_cage_observation_final_elo_score,strain_x,home_cage_observation_rank,cage_y,tube_test_final_elo_score,strain_y,tube_test_rank
14,4,4.3,963.9,pilot_1,CD1,4.0,4,955.1,CD1,3.0,4,924.4,CD1,2.0,4,1108.8,CD1,1.0
15,4,4.4,1046.1,pilot_1,CD1,1.0,4,1033.1,CD1,2.0,4,1288.0,CD1,1.0,4,777.0,CD1,4.0
16,1,1.1,991.9,pilot_2,C57,2.0,1,1193.9,C57,1.0,1,907.5,C57,4.0,1,1149.5,C57,1.0
17,1,1.2,1045.9,pilot_2,C57,1.0,1,1017.3,C57,2.0,1,1191.1,C57,1.0,1,1083.0,C57,2.0
18,1,1.3,972.0,pilot_2,C57,4.0,1,893.9,C57,4.0,1,923.8,C57,3.0,1,998.5,C57,3.0
19,1,1.4,990.2,pilot_2,C57,3.0,1,894.9,C57,3.0,1,977.6,C57,2.0,1,769.0,C57,4.0
20,2,2.1,1010.5,pilot_2,C57,2.0,3,798.8,C57,6.0,2,880.2,C57,4.0,2,997.5,C57,2.0
21,2,2.2,971.7,pilot_2,C57,4.0,3,877.1,C57,5.0,2,897.1,C57,3.0,2,1035.1,C57,1.0
22,2,2.3,1036.2,pilot_2,C57,1.0,3,756.7,C57,7.0,2,1317.7,C57,1.0,2,974.8,C57,4.0
23,2,2.4,981.6,pilot_2,C57,3.0,2,963.7,C57,1.0,2,905.0,C57,2.0,2,992.6,C57,3.0
24,3,3.1,1028.9,pilot_2,C57,1.0,3,1195.6,C57,2.0,3,1283.2,C57,1.0,3,1109.8,C57,1.0
25,3,3.2,973.3,pilot_2,C57,4.0,3,969.0,C57,4.0,3,898.7,C57,4.0,3,826.4,C57,4.0
26,3,3.3,1017.8,pilot_2,C57,2.0,3,1170.4,C57,3.0,3,919.3,C57,2.0,3,984.5,C57,3.0
27,3,3.4,980.0,pilot_2,C57,3.0,3,1232.4,C57,1.0,3,898.8,C57,3.0,3,1069.3,C57,2.0
28,4,4.1,989.7,pilot_2,CD1,3.0,4,885.4,CD1,4.0,4,1079.9,CD1,2.0,4,1071.4,CD1,2.0
29,4,4.2,1055.2,pilot_2,CD1,1.0,4,1032.0,CD1,3.0,4,1348.9,CD1,1.0,4,778.5,CD1,4.0
30,4,4.3,990.3,pilot_2,CD1,2.0,4,1043.6,CD1,1.0,4,763.5,CD1,4.0,4,930.8,CD1,3.0
31,4,4.4,964.8,pilot_2,CD1,4.0,4,1039.0,CD1,2.0,4,807.7,CD1,3.0,4,1209.3,CD1,1.0
32,5,5.1,953.9,pilot_2,CD1,4.0,5,1060.4,CD1,2.0,5,944.6,CD1,3.0,5,977.4,CD1,3.0
33,5,5.2,1008.8,pilot_2,CD1,3.0,5,1158.6,CD1,1.0,5,657.1,CD1,4.0,5,1064.3,CD1,2.0
34,5,5.3,1027.8,pilot_2,CD1,1.0,5,879.9,CD1,4.0,5,1089.3,CD1,2.0,5,1103.5,CD1,1.0
35,5,5.4,1009.5,pilot_2,CD1,2.0,5,901.1,CD1,3.0,5,1309.0,CD1,1.0,5,844.8,CD1,4.0
36,6,6.1,1027.0,pilot_2,CD1,1.0,6,1117.1,CD1,1.0,6,1425.3,CD1,1.0,6,943.6,CD1,3.0
37,6,6.2,962.5,pilot_2,CD1,4.0,6,948.4,CD1,3.0,6,779.7,CD1,3.0,6,1031.7,CD1,2.0
38,6,6.3,1009.7,pilot_2,CD1,2.0,6,1023.3,CD1,2.0,6,714.6,CD1,4.0,6,910.6,CD1,4.0
39,6,6.4,1000.8,pilot_2,CD1,3.0,6,911.2,CD1,4.0,6,1080.4,CD1,2.0,6,1114.1,CD1,1.0
40,1,1.1,1009.7,pilot_3,C57,2.0,1,1196.8,C57,1.0,NaN,NaN,NaN,NaN,1,1165.3,C57,1.0
41,1,1.2,1019.1,pilot_3,C57,1.0,1,974.4,C57,3.0,NaN,NaN,NaN,NaN,1,1054.5,C57,2.0
42,1,1.3,980.9,pilot_3,C57,4.0,1,1011.1,C57,2.0,NaN,NaN,NaN,NaN,1,882.3,C57,4.0
43,1,1.4,990.3,pilot_3,C57,3.0,1,817.7,C57,4.0,NaN,NaN,NaN,NaN,1,897.9,C57,3.0
44,2,2.1,1009.4,pilot_3,C57,2.0,2,1010.3,C57,3.0,2,1169.1,C57,1.0,2,1127.8,C57,1.0
45,2,2.2,970.6,pilot_3,C57,4.0,2,1121.9,C57,1.0,2,940.4,C57,3.0,2,965.6,C57,3.0
46,2,2.3,1000.6,pilot_3,C57,3.0,2,1015.0,C57,2.0,2,952.3,C57,2.0,2,1072.9,C57,2.0
47,2,2.4,1019.4,pilot_3,C57,1.0,2,852.8,C57,4.0,2,938.2,C57,4.0,2,833.7,C57,4.0
48,3,3.1,1009.4,pilot_3,C57,2.0,3,929.6,C57,4.0,NaN,NaN,NaN,NaN,3,847.8,CD1,4.0
49,3,3.2,989.4,pilot_3,C57,4.0,3,1086.0,C57,1.0,NaN,NaN,NaN,NaN,3,1024.4,CD1,2.0
50,3,3.3,1010.6,pilot_3,C57,1.0,3,1007.9,C57,2.0,NaN,NaN,NaN,NaN,3,980.4,CD1,3.0
51,3,3.4,990.6,pilot_3,C57,3.0,3,976.5,C57,3.0,NaN,NaN,NaN,NaN,3,1147.4,CD1,1.0
52,4,4.1,981.1,pilot_3,CD1,4.0,4,1019.8,CD1,3.0,4,784.8,CD1,4.0,4,974.5,CD1,3.0
53,4,4.2,990.0,pilot_3,CD1,3.0,4,799.2,CD1,4.0,4,1080.4,CD1,2.0,4,1155.4,CD1,1.0
54,4,4.3,1010.0,pilot_3,CD1,2.0,4,1035.9,CD1,2.0,4,1111.0,CD1,1.0,4,1034.7,CD1,2.0
55,4,4.4,1018.9,pilot_3,CD1,1.0,4,1145.1,CD1,1.0,4,1023.8,CD1,3.0,4,835.4,CD1,4.0
56,5,5.1,980.9,pilot_3,CD1,4.0,5,751.4,CD1,4.0,5,1198.5,CD1,1.0,5,1006.0,NaN,2.0
57,5,5.2,1009.7,pilot_3,CD1,2.0,5,1263.5,CD1,1.0,5,1008.4,CD1,2.0,5,983.4,NaN,3.0
58,5,5.3,989.7,pilot_3,CD1,3.0,5,1030.5,CD1,2.0,5,852.5,CD1,4.0,5,845.3,NaN,4.0
59,5,5.4,1019.7,pilot_3,CD1,1.0,5,954.6,CD1,3.0,5,940.6,CD1,3.0,5,1165.3,NaN,1.0
60,6,6.1,980.6,pilot_3,CD1,3.0,6,991.0,CD1,3.0,NaN,NaN,NaN,NaN,6,1137.7,NaN,1.0
61,6,6.2,980.6,pilot_3,CD1,3.0,6,752.6,CD1,4.0,NaN,NaN,NaN,NaN,6,1021.2,NaN,2.0
62,6,6.3,1028.8,pilot_3,CD1,1.0,6,1235.4,CD1,1.0,NaN,NaN,NaN,NaN,6,1006.6,NaN,3.0
63,6,6.4,1010.0,pilot_3,CD1,2.0,6,1021.0,CD1,2.0,NaN,NaN,NaN,NaN,6,834.5,NaN,4.0

In [17]:
sorted(merged_final_elo_score_df.columns)

['cage_x',
 'cage_x',
 'cage_y',
 'cage_y',
 'cohort',
 'home_cage_observation_final_elo_score',
 'home_cage_observation_rank',
 'reward_competition_final_elo_score',
 'reward_competition_rank',
 'strain_x',
 'strain_x',
 'strain_y',
 'strain_y',
 'subject_id',
 'tube_test_final_elo_score',
 'tube_test_rank',
 'urine_marking_final_elo_score',
 'urine_marking_rank']

In [18]:
sorted_columns = [ 'cohort',
 'subject_id',
 'home_cage_observation_final_elo_score',
 'home_cage_observation_rank',
 'reward_competition_final_elo_score',
 'reward_competition_rank',
 'tube_test_final_elo_score',
 'tube_test_rank',
 'urine_marking_final_elo_score',
 'urine_marking_rank']

In [19]:
merged_final_elo_score_df = merged_final_elo_score_df[sorted_columns]

In [20]:
merged_final_elo_score_df.to_csv("./proc/combined_final_elo_score_df.csv")

## Combining all the pair wise

In [21]:
all_pairwise_file_paths = glob.glob("./pilot_*/**/*pair*.csv", recursive=True)

In [22]:
all_pairwise_file_paths

['./pilot_1/proc/elo_score_spread_sheets/tube_test_elo_score/cage_1_2_3_4_date_2022-04-25_2022-05-20/pilot_1_tube_test_grouped_by_pairs_cage_1_2_3_4_date_2022-04-25_2022-05-20.csv',
 './pilot_1/proc/elo_score_spread_sheets/home_cage_observation_elo_score/cage_3_4_date_2022-05-02_2022-05-13/pilot_1_home_cage_observation_grouped_by_pairs_cage_3_4_date_2022-05-02_2022-05-13.csv',
 './pilot_1/proc/elo_score_spread_sheets/reward_competition_elo_score/cage_1_2_3_4_date_20220519_20220520/pilot_1_reward_competition_grouped_by_pairs_cage_1_2_3_4_date_20220519_20220520.csv',
 './pilot_1/proc/elo_score_spread_sheets/urine_marking_elo_score/cage_1_2_3_4_date_2022-05-18_2022-06-01/pilot_1_urine_marking_grouped_by_pairs_cage_1_2_3_4_date_2022-05-18_2022-06-01.csv',
 './pilot_2/proc/elo_score_spread_sheets/tube_test_elo_score/cage_1_2_3_4_5_6_date_2022-07-11_2022-07-29/pilot_2_tube_test_grouped_by_pairs_cage_1_2_3_4_5_6_date_2022-07-11_2022-07-29.csv',
 './pilot_2/proc/elo_score_spread_sheets/home_cage_observation_elo_score/cage_1_2_3_4_5_6_date_2012-08-11_2022-08-11/pilot_2_home_cage_observation_grouped_by_pairs_cage_1_2_3_4_5_6_date_2012-08-11_2022-08-11.csv',
 './pilot_2/proc/elo_score_spread_sheets/reward_competition_elo_score/cage_1_2_3_4_5_6_date_20220728_20220729/pilot_2_reward_competition_grouped_by_pairs_cage_1_2_3_4_5_6_date_20220728_20220729.csv',
 './pilot_2/proc/elo_score_spread_sheets/urine_marking_elo_score/cage_1_2_3_4_5_6_date_2022-07-11_2022-08-08/pilot_2_urine_marking_grouped_by_pairs_cage_1_2_3_4_5_6_date_2022-07-11_2022-08-08.csv',
 './pilot_3/proc/elo_score_spread_sheets/tube_test_elo_score/cage_1_2_3_4_5_6_date_2022-09-06_2022-09-27/pilot_3_tube_test_grouped_by_pairs_cage_1_2_3_4_5_6_date_2022-09-06_2022-09-27.csv',
 './pilot_3/proc/elo_score_spread_sheets/home_cage_observation_elo_score/cage_2_4_5_date_2022-09-07_2022-10-05/pilot_3_home_cage_observation_grouped_by_pairs_cage_2_4_5_date_2022-09-07_2022-10-05.csv',
 './pilot_3/proc/elo_score_spread_sheets/reward_competition_elo_score/cage_1_2_3_4_5_6_date_20221003_20221004/pilot_3_reward_competition_grouped_by_pairs_cage_1_2_3_4_5_6_date_20221003_20221004.csv',
 './pilot_3/proc/elo_score_spread_sheets/urine_marking_elo_score/cage_1_2_3_4_5_6_date_2022-09-12_2022-09-16/pilot_3_urine_marking_grouped_by_pairs_cage_1_2_3_4_5_6_date_2022-09-12_2022-09-16.csv']

In [23]:
protocols_list = ["urine", "tube", "home_cage", "reward"]

In [24]:
protocol_to_all_df = defaultdict(list)
for protocol in protocols_list:
    for file_path in all_pairwise_file_paths:
        if protocol in file_path:
            protocol_to_all_df[protocol].append(pd.read_csv(file_path, index_col=0))

In [25]:
# protocol_to_concatted_df = defaultdict(dict)
all_protocol_df_list = []
for k, v in protocol_to_all_df.items():
    
#     protocol_to_concatted_df[k] = pd.concat(v)
    all_protocol_df_list.append(pd.concat(v).reset_index(drop=True))

In [26]:
# all_protocol_df_list[0]

all_protocol_df_list[0][all_protocol_df_list[0]["tuple_animal_id"] == "('1.1', '1.2')"]

,tuple_animal_id,first_spot_number,second_spot_number,processed_cage_number,cohort,strain,uma_number_difference,uma_percent_difference,uma_number_tie,uma_percent_tie,uma_number_then_percent_tie,uma_averaged_winner,uma_averaged_loser
0,"('1.1', '1.2')",69.0,10.5,1,pilot_1,C57,58.5,147.169811,False,False,False,1.1,1.2
24,"('1.1', '1.2')",14.0,28.0,1,pilot_2,C57,14.0,66.666667,False,False,False,1.2,1.1
60,"('1.1', '1.2')",1.0,1.0,1,pilot_3,C57,0.0,0.000000,True,True,True,1.2,1.1

In [27]:
all_protocol_df_list[1].head()

,tt_tuple_animal_id,tt_winner,tt_loser,processed_cage_number,cohort,tt_averaged_winner,tt_averaged_loser,tt_winner_count,tt_loser_count,tt_count_difference,tt_match_count,tt_percent_win,tt_percentage_tie
0,"('1.1', '1.2')","['1.1', '1.1', '1.1', '1.2', '1.1', '1.1', '1....","['1.2', '1.2', '1.2', '1.1', '1.2', '1.2', '1....",1,pilot_1,1.1,1.2,13,1,12,14,0.928571,False
1,"('1.1', '1.3')","['1.3', '1.1', '1.1', '1.1', '1.1', '1.1', '1....","['1.1', '1.3', '1.3', '1.3', '1.3', '1.3', '1....",1,pilot_1,1.1,1.3,13,1,12,14,0.928571,False
2,"('1.1', '1.4')","['1.4', '1.4', '1.4', '1.4', '1.4', '1.4', '1....","['1.1', '1.1', '1.1', '1.1', '1.1', '1.1', '1....",1,pilot_1,1.4,1.1,14,0,14,14,1.000000,False
3,"('1.2', '1.3')","['1.2', '1.3', '1.2', '1.2', '1.2', '1.2', '1....","['1.3', '1.2', '1.3', '1.3', '1.3', '1.3', '1....",1,pilot_1,1.2,1.3,13,1,12,14,0.928571,False
4,"('1.2', '1.4')","['1.4', '1.4', '1.4', '1.4', '1.4', '1.4', '1....","['1.2', '1.2', '1.2', '1.2', '1.2', '1.2', '1....",1,pilot_1,1.4,1.2,14,0,14,14,1.000000,False

In [28]:
merged_all_protocol_pairwise_df = pd.merge(all_protocol_df_list[0], all_protocol_df_list[1],  how='outer', left_on=['tuple_animal_id','cohort'], right_on = ['tt_tuple_animal_id','cohort'])

In [29]:
merged_all_protocol_pairwise_df = pd.merge(merged_all_protocol_pairwise_df, all_protocol_df_list[2],  how='outer', left_on=['tuple_animal_id','cohort'], right_on = ['hco_tuple_animal_id','cohort'])

In [30]:
merged_all_protocol_pairwise_df = pd.merge(merged_all_protocol_pairwise_df, all_protocol_df_list[3],  how='outer', left_on=['tuple_animal_id','cohort'], right_on = ['rc_animal_ids','cohort'])

/tmp/ipykernel_3699/2138773678.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'processed_cage_number_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_all_protocol_pairwise_df = pd.merge(merged_all_protocol_pairwise_df, all_protocol_df_list[3],  how='outer', left_on=['tuple_animal_id','cohort'], right_on = ['rc_animal_ids','cohort'])

In [31]:
merged_all_protocol_pairwise_df.sort_values(['cohort', "tuple_animal_id"]).to_csv("./proc/merged_all_protocol_pairwise_df.csv")

## Filtering for clear dominance pairs

In [32]:
C57_merged_all_protocol_pairwise_df = merged_all_protocol_pairwise_df[merged_all_protocol_pairwise_df["strain"] == "C57"].copy()

In [33]:
CD1_merged_all_protocol_pairwise_df = merged_all_protocol_pairwise_df[merged_all_protocol_pairwise_df["strain"] == "CD1"].copy()

In [34]:
C57_merged_all_protocol_pairwise_df.head()

,tuple_animal_id,first_spot_number,second_spot_number,processed_cage_number_x,cohort,strain,uma_number_difference,uma_percent_difference,uma_number_tie,uma_percent_tie,...,rc_winner_count,rc_loser_count,rc_tie_count,rc_all_match_count_including_ties,rc_winner_count_minus_loser_count,rc_win_to_win_plus_lost_ratio,rc_win_to_all_ratio,rc_is_win_to_all_ratio_tie,rc_tie_to_all_ratio,processed_cage_number_y
0,"('1.1', '1.2')",69.0,10.5,1,pilot_1,C57,58.5,147.169811,False,False,...,16,13,10,39,3,0.551724,0.410256,True,0.256410,1
1,"('1.1', '1.3')",23.5,0.0,1,pilot_1,C57,23.5,200.000000,False,False,...,19,16,4,39,3,0.542857,0.487179,True,0.102564,1
2,"('1.1', '1.4')",18.0,15.0,1,pilot_1,C57,3.0,18.181818,True,True,...,23,15,1,39,8,0.605263,0.589744,True,0.025641,1
3,"('1.2', '1.3')",0.0,0.0,1,pilot_1,C57,0.0,0.000000,True,True,...,24,13,2,39,11,0.648649,0.615385,True,0.051282,1
4,"('1.2', '1.4')",12.0,8.0,1,pilot_1,C57,4.0,40.000000,True,False,...,23,16,0,39,7,0.589744,0.589744,True,0.000000,1

In [35]:
CD1_merged_all_protocol_pairwise_df.head()

,tuple_animal_id,first_spot_number,second_spot_number,processed_cage_number_x,cohort,strain,uma_number_difference,uma_percent_difference,uma_number_tie,uma_percent_tie,...,rc_winner_count,rc_loser_count,rc_tie_count,rc_all_match_count_including_ties,rc_winner_count_minus_loser_count,rc_win_to_win_plus_lost_ratio,rc_win_to_all_ratio,rc_is_win_to_all_ratio_tie,rc_tie_to_all_ratio,processed_cage_number_y
12,"('3.1', '3.2')",17.0,12.0,3,pilot_1,CD1,5.0,34.482759,False,False,...,14,6,0,20,8,0.700000,0.700000,True,0.000000,3
13,"('3.1', '3.3')",24.0,0.0,3,pilot_1,CD1,24.0,200.000000,False,False,...,24,13,2,39,11,0.648649,0.615385,True,0.051282,3
14,"('3.1', '3.4')",27.0,23.0,3,pilot_1,CD1,4.0,16.000000,True,True,...,42,16,1,59,26,0.724138,0.711864,True,0.016949,3
15,"('3.2', '3.3')",51.0,0.0,3,pilot_1,CD1,51.0,200.000000,False,False,...,20,15,4,39,5,0.571429,0.512821,True,0.102564,3
16,"('3.2', '3.4')",10.0,28.0,3,pilot_1,CD1,18.0,94.736842,False,False,...,25,11,2,38,14,0.694444,0.657895,True,0.052632,3

In [36]:
merged_all_protocol_pairwise_df.columns

Index(['tuple_animal_id', 'first_spot_number', 'second_spot_number',
       'processed_cage_number_x', 'cohort', 'strain', 'uma_number_difference',
       'uma_percent_difference', 'uma_number_tie', 'uma_percent_tie',
       'uma_number_then_percent_tie', 'uma_averaged_winner',
       'uma_averaged_loser', 'tt_tuple_animal_id', 'tt_winner', 'tt_loser',
       'processed_cage_number_y', 'tt_averaged_winner', 'tt_averaged_loser',
       'tt_winner_count', 'tt_loser_count', 'tt_count_difference',
       'tt_match_count', 'tt_percent_win', 'tt_percentage_tie',
       'hco_tuple_animal_id', 'hco_winner', 'hco_loser', 'hco_action',
       'processed_cage_number_x', 'hco_averaged_winner', 'hco_averaged_loser',
       'hco_winner_count', 'hco_loser_count', 'hco_count_difference',
       'hco_match_count', 'hco_percent_win', 'hco_percentage_tie',
       'rc_animal_ids', 'rc_winner', 'rc_loser',
       'rc_average_number_of_switches', 'rc_winner_no_ties',
       'rc_loser_no_ties', 'rc_averaged_winner', 'rc_averaged_loser',
       'rc_winner_count', 'rc_loser_count', 'rc_tie_count',
       'rc_all_match_count_including_ties',
       'rc_winner_count_minus_loser_count', 'rc_win_to_win_plus_lost_ratio',
       'rc_win_to_all_ratio', 'rc_is_win_to_all_ratio_tie',
       'rc_tie_to_all_ratio', 'processed_cage_number_y'],
      dtype='object')

- Cross checking with hand scored results

In [37]:
merged_all_protocol_pairwise_df[["tuple_animal_id", "cohort", "hco_averaged_winner", "hco_percentage_tie", "hco_percent_win", "hco_action"]].tail(n=50)

,tuple_animal_id,cohort,hco_averaged_winner,hco_percentage_tie,hco_percent_win,hco_action
46,"('4.2', '4.4')",pilot_2,4.2,False,0.975000,"['f', 'f', 'f', 'f', 'f', 'f', 'c', 'f', 'f', ..."
47,"('4.3', '4.4')",pilot_2,NaN,NaN,NaN,NaN
48,"('5.1', '5.2')",pilot_2,5.1,False,1.000000,"['f', 'f', 'f', 'f', 'f', 'f', 'c', 'f', 'c', ..."
49,"('5.1', '5.3')",pilot_2,5.3,False,0.884615,"['f', 'c', 'c', 'f', 'f', 'c', 'f', 'f', 'f', ..."
50,"('5.1', '5.4')",pilot_2,5.4,True,0.651163,"['c', 'f', 'f', 'f', 'f', 'c', 'f', 'f', 'f', ..."
51,"('5.2', '5.3')",pilot_2,5.3,False,1.000000,"['c', 'c', 'f', 'f', 'f', 'f', 'c', 'f', 'f', ..."
52,"('5.2', '5.4')",pilot_2,5.4,False,1.000000,"['f', 'c', 'f', 'f', 'f', 'c', 'f', 'f', 'f', ..."
53,"('5.3', '5.4')",pilot_2,5.3,True,0.692308,"['f', 'f', 'f', 'f', 'c', 'f', 'f', 'f', 'c', ..."
54,"('6.1', '6.2')",pilot_2,6.1,False,0.912281,"['f', 'c', 'f', 'c', 'f', 'f', 'f', 'f', 'c', ..."
55,"('6.1', '6.3')",pilot_2,6.1,False,0.980000,"['f', 'c', 'f', 'f', 'f', 'f', 'f', 'f', 'c', ..."
56,"('6.1', '6.4')",pilot_2,6.1,False,0.966667,"['f', 'f', 'f', 'f', 'f', 'f', 'f', 'f', 'f', ..."
57,"('6.2', '6.3')",pilot_2,6.2,False,0.777778,"['f', 'f', 'f', 'f', 'c', 'f', 'c', 'c', 'c']"
58,"('6.2', '6.4')",pilot_2,6.4,False,0.847826,"['f', 'f', 'f', 'f', 'f', 'f', 'c', 'f', 'f', ..."
59,"('6.3', '6.4')",pilot_2,6.4,False,1.000000,"['f', 'f', 'f', 'f', 'f', 'f', 'c', 'f', 'f', ..."
60,"('1.1', '1.2')",pilot_3,NaN,NaN,NaN,NaN
61,"('1.1', '1.3')",pilot_3,NaN,NaN,NaN,NaN
62,"('1.1', '1.4')",pilot_3,NaN,NaN,NaN,NaN
63,"('1.2', '1.3')",pilot_3,NaN,NaN,NaN,NaN
64,"('1.2', '1.4')",pilot_3,NaN,NaN,NaN,NaN
65,"('1.3', '1.4')",pilot_3,NaN,NaN,NaN,NaN
66,"('2.1', '2.2')",pilot_3,2.1,False,1.000000,"['f', 'c', 'c', 'c', 'f', 'f', 'c', 'f']"
67,"('2.1', '2.3')",pilot_3,2.1,False,1.000000,"['f', 'f', 'c', 'f', 'c', 'f', 'c', 'f']"
68,"('2.1', '2.4')",pilot_3,2.1,False,1.000000,"['c', 'f', 'c', 'f', 'c', 'f', 'c', 'c', 'c']"
69,"('2.2', '2.3')",pilot_3,NaN,NaN,NaN,NaN
70,"('2.2', '2.4')",pilot_3,NaN,NaN,NaN,NaN
71,"('2.3', '2.4')",pilot_3,2.4,True,0.500000,"['c', 'c', 'c', 'c', 'c', 'f']"
72,"('3.1', '3.2')",pilot_3,NaN,NaN,NaN,NaN
73,"('3.1', '3.3')",pilot_3,NaN,NaN,NaN,NaN
74,"('3.1', '3.4')",pilot_3,NaN,NaN,NaN,NaN
75,"('3.2', '3.3')",pilot_3,NaN,NaN,NaN,NaN
76,"('3.2', '3.4')",pilot_3,NaN,NaN,NaN,NaN
77,"('3.3', '3.4')",pilot_3,NaN,NaN,NaN,NaN
78,"('4.1', '4.2')",pilot_3,4.2,False,1.000000,"['f', 'f', 'f', 'c', 'f']"
79,"('4.1', '4.3')",pilot_3,4.3,False,1.000000,"['c', 'c', 'f', 'f', 'f', 'c', 'c', 'c', 'f', ..."
80,"('4.1', '4.4')",pilot_3,4.4,False,1.000000,"['f', 'f', 'c']"
81,"('4.2', '4.3')",pilot_3,4.2,True,0.545455,"['f', 'c', 'c', 'f', 'c', 'c', 'c', 'c', 'f', ..."
82,"('4.2', '4.4')",pilot_3,4.2,True,0.666667,"['f', 'f', 'f']"
83,"('4.3', '4.4')",pilot_3,4.3,True,0.500000,"['f', 'c', 'f', 'c']"
84,"('5.1', '5.2')",pilot_3,NaN,NaN,NaN,NaN
85,"('5.1', '5.3')",pilot_3,5.1,False,0.938776,"['c', 'c', 'f', 'f', 'f', 'c', 'c', 'f', 'f', ..."
86,"('5.1', '5.4')",pilot_3,NaN,NaN,NaN,NaN
87,"('5.2', '5.3')",pilot_3,NaN,NaN,NaN,NaN
88,"('5.2', '5.4')",pilot_3,5.4,True,0.560000,"['c', 'c', 'c', 'f', 'f', 'f', 'c', 'f', 'f', ..."
89,"('5.3', '5.4')",pilot_3,5.3,False,0.833333,"['c', 'f', 'f', 'c', 'f', 'c']"
90,"('6.1', '6.2')",pilot_3,NaN,NaN,NaN,NaN
91,"('6.1', '6.3')",pilot_3,NaN,NaN,NaN,NaN
92,"('6.1', '6.4')",pilot_3,NaN,NaN,NaN,NaN
93,"('6.2', '6.3')",pilot_3,NaN,NaN,NaN,NaN
94,"('6.2', '6.4')",pilot_3,NaN,NaN,NaN,NaN
95,"('6.3', '6.4')",pilot_3,NaN,NaN,NaN,NaN

In [38]:
merged_all_protocol_pairwise_df[["tuple_animal_id", "cohort", "tt_averaged_winner", "tt_percentage_tie", "tt_percent_win", "tt_winner"]].head(n=50)

,tuple_animal_id,cohort,tt_averaged_winner,tt_percentage_tie,tt_percent_win,tt_winner
0,"('1.1', '1.2')",pilot_1,1.1,False,0.928571,"['1.1', '1.1', '1.1', '1.2', '1.1', '1.1', '1...."
1,"('1.1', '1.3')",pilot_1,1.1,False,0.928571,"['1.3', '1.1', '1.1', '1.1', '1.1', '1.1', '1...."
2,"('1.1', '1.4')",pilot_1,1.4,False,1.000000,"['1.4', '1.4', '1.4', '1.4', '1.4', '1.4', '1...."
3,"('1.2', '1.3')",pilot_1,1.2,False,0.928571,"['1.2', '1.3', '1.2', '1.2', '1.2', '1.2', '1...."
4,"('1.2', '1.4')",pilot_1,1.4,False,1.000000,"['1.4', '1.4', '1.4', '1.4', '1.4', '1.4', '1...."
5,"('1.3', '1.4')",pilot_1,1.4,False,1.000000,"['1.4', '1.4', '1.4', '1.4', '1.4', '1.4', '1...."
6,"('2.1', '2.2')",pilot_1,2.1,False,1.000000,"['2.1', '2.1', '2.1', '2.1', '2.1', '2.1', '2...."
7,"('2.1', '2.3')",pilot_1,2.1,False,1.000000,"['2.1', '2.1', '2.1', '2.1', '2.1', '2.1', '2...."
8,"('2.1', '2.4')",pilot_1,2.4,False,0.750000,"['2.4', '2.4', '2.4', '2.4', '2.4', '2.4', '2...."
9,"('2.2', '2.3')",pilot_1,2.2,False,1.000000,"['2.2', '2.2', '2.2', '2.2', '2.2', '2.2', '2...."
10,"('2.2', '2.4')",pilot_1,2.4,False,0.916667,"['2.4', '2.4', '2.4', '2.4', '2.4', '2.4', '2...."
11,"('2.3', '2.4')",pilot_1,2.4,False,1.000000,"['2.4', '2.4', '2.4', '2.4', '2.4', '2.4', '2...."
12,"('3.1', '3.2')",pilot_1,3.2,False,1.000000,"['3.2', '3.2', '3.2', '3.2', '3.2', '3.2', '3...."
13,"('3.1', '3.3')",pilot_1,3.3,False,1.000000,"['3.3', '3.3', '3.3', '3.3', '3.3', '3.3', '3...."
14,"('3.1', '3.4')",pilot_1,3.4,False,0.866667,"['3.4', '3.4', '3.4', '3.4', '3.4', '3.1', '3...."
15,"('3.2', '3.3')",pilot_1,3.2,False,0.933333,"['3.2', '3.2', '3.2', '3.2', '3.2', '3.3', '3...."
16,"('3.2', '3.4')",pilot_1,3.2,False,0.933333,"['3.4', '3.2', '3.2', '3.2', '3.2', '3.2', '3...."
17,"('3.3', '3.4')",pilot_1,3.3,False,0.933333,"['3.3', '3.3', '3.4', '3.3', '3.3', '3.3', '3...."
18,"('4.1', '4.2')",pilot_1,4.2,True,0.666667,"['4.1', '4.1', '4.2', '4.1', '4.1', '4.1', '4...."
19,"('4.1', '4.3')",pilot_1,4.3,False,0.800000,"['4.3', '4.3', '4.3', '4.3', '4.3', '4.3', '4...."
20,"('4.1', '4.4')",pilot_1,4.1,False,0.933333,"['4.1', '4.1', '4.1', '4.1', '4.1', '4.1', '4...."
21,"('4.2', '4.3')",pilot_1,4.3,True,0.666667,"['4.3', '4.3', '4.3', '4.3', '4.3', '4.3', '4...."
22,"('4.2', '4.4')",pilot_1,4.2,False,1.000000,"['4.2', '4.2', '4.2', '4.2', '4.2', '4.2', '4...."
23,"('4.3', '4.4')",pilot_1,4.3,False,1.000000,"['4.3', '4.3', '4.3', '4.3', '4.3', '4.3', '4...."
24,"('1.1', '1.2')",pilot_2,1.1,True,0.642857,"['1.2', '1.2', '1.1', '1.1', '1.1', '1.1', '1...."
25,"('1.1', '1.3')",pilot_2,1.1,True,0.714286,"['1.3', '1.1', '1.1', '1.1', '1.3', '1.1', '1...."
26,"('1.1', '1.4')",pilot_2,1.1,False,1.000000,"['1.1', '1.1', '1.1', '1.1', '1.1', '1.1', '1...."
27,"('1.2', '1.3')",pilot_2,1.2,False,0.785714,"['1.2', '1.2', '1.2', '1.2', '1.3', '1.3', '1...."
28,"('1.2', '1.4')",pilot_2,1.2,False,1.000000,"['1.2', '1.2', '1.2', '1.2', '1.2', '1.2', '1...."
29,"('1.3', '1.4')",pilot_2,1.3,False,1.000000,"['1.3', '1.3', '1.3', '1.3', '1.3', '1.3', '1...."
30,"('2.1', '2.2')",pilot_2,2.1,True,0.615385,"['2.1', '2.1', '2.2', '2.1', '2.1', '2.2', '2...."
31,"('2.1', '2.3')",pilot_2,2.3,True,0.571429,"['2.3', '2.3', '2.1', '2.1', '2.3', '2.1', '2...."
32,"('2.1', '2.4')",pilot_2,2.4,True,0.538462,"['2.4', '2.4', '2.4', '2.4', '2.1', '2.1', '2...."
33,"('2.2', '2.3')",pilot_2,2.2,True,0.642857,"['2.3', '2.3', '2.2', '2.2', '2.2', '2.3', '2...."
34,"('2.2', '2.4')",pilot_2,2.4,True,0.571429,"['2.4', '2.4', '2.4', '2.4', '2.4', '2.2', '2...."
35,"('2.3', '2.4')",pilot_2,2.4,True,0.571429,"['2.4', '2.4', '2.4', '2.4', '2.4', '2.3', '2...."
36,"('3.1', '3.2')",pilot_2,3.1,False,0.785714,"['3.1', '3.1', '3.1', '3.2', '3.1', '3.1', '3...."
37,"('3.1', '3.3')",pilot_2,3.1,True,0.642857,"['3.3', '3.3', '3.3', '3.3', '3.1', '3.3', '3...."
38,"('3.1', '3.4')",pilot_2,3.1,True,0.571429,"['3.4', '3.4', '3.4', '3.4', '3.1', '3.1', '3...."
39,"('3.2', '3.3')",pilot_2,3.3,False,0.928571,"['3.3', '3.3', '3.3', '3.3', '3.3', '3.3', '3...."
40,"('3.2', '3.4')",pilot_2,3.4,False,1.000000,"['3.4', '3.4', '3.4', '3.4', '3.4', '3.4', '3...."
41,"('3.3', '3.4')",pilot_2,3.4,True,0.642857,"['3.3', '3.4', '3.4', '3.3', '3.4', '3.4', '3...."
42,"('4.1', '4.2')",pilot_2,4.1,False,1.000000,"['4.1', '4.1', '4.1', '4.1', '4.1', '4.1', '4...."
43,"('4.1', '4.3')",pilot_2,4.1,False,0.857143,"['4.3', '4.3', '4.1', '4.1', '4.1', '4.1', '4...."
44,"('4.1', '4.4')",pilot_2,4.4,False,0.928571,"['4.1', '4.4', '4.4', '4.4', '4.4', '4.4', '4...."
45,"('4.2', '4.3')",pilot_2,4.3,False,0.857143,"['4.2', '4.2', '4.3', '4.3', '4.3', '4.3', '4...."
46,"('4.2', '4.4')",pilot_2,4.4,False,1.000000,"['4.4', '4.4', '4.4', '4.4', '4.4', '4.4', '4...."
47,"('4.3', '4.4')",pilot_2,4.4,False,0.928571,"['4.3', '4.4', '4.4', '4.4', '4.4', '4.4', '4...."
48,"('5.1', '5.2')",pilot_2,5.2,False,0.785714,"['5.2', '5.2', '5.2', '5.2', '5.2', '5.2', '5...."
49,"('5.1', '5.3')",pilot_2,5.3,False,0.785714,"['5.3', '5.3', '5.3', '5.3', '5.3', '5.3', '5...."

In [39]:
merged_all_protocol_pairwise_df[["tuple_animal_id", "cohort", "uma_averaged_winner", "uma_number_then_percent_tie", "uma_percent_difference", "uma_number_difference"]].tail(n=50)

,tuple_animal_id,cohort,uma_averaged_winner,uma_number_then_percent_tie,uma_percent_difference,uma_number_difference
46,"('4.2', '4.4')",pilot_2,4.2,False,59.829060,70.0
47,"('4.3', '4.4')",pilot_2,4.3,False,118.750000,19.0
48,"('5.1', '5.2')",pilot_2,5.2,False,180.066445,135.5
49,"('5.1', '5.3')",pilot_2,5.3,True,46.153846,4.5
50,"('5.1', '5.4')",pilot_2,5.4,False,128.985507,178.0
51,"('5.2', '5.3')",pilot_2,5.2,True,30.769231,2.0
52,"('5.2', '5.4')",pilot_2,5.4,False,66.666667,6.5
53,"('5.3', '5.4')",pilot_2,5.3,False,112.408759,38.5
54,"('6.1', '6.2')",pilot_2,6.1,False,90.295359,53.5
55,"('6.1', '6.3')",pilot_2,6.1,False,42.424242,7.0
56,"('6.1', '6.4')",pilot_2,6.4,False,58.064516,31.5
57,"('6.2', '6.3')",pilot_2,6.3,False,44.444444,10.0
58,"('6.2', '6.4')",pilot_2,6.4,False,129.670330,29.5
59,"('6.3', '6.4')",pilot_2,6.3,False,137.500000,44.0
60,"('1.1', '1.2')",pilot_3,1.2,True,0.000000,0.0
61,"('1.1', '1.3')",pilot_3,1.1,False,110.000000,22.0
62,"('1.1', '1.4')",pilot_3,1.4,True,100.000000,2.0
63,"('1.2', '1.3')",pilot_3,1.2,False,137.500000,22.0
64,"('1.2', '1.4')",pilot_3,1.4,False,158.974359,62.0
65,"('1.3', '1.4')",pilot_3,1.4,True,200.000000,1.0
66,"('2.1', '2.2')",pilot_3,2.1,False,174.193548,27.0
67,"('2.1', '2.3')",pilot_3,2.1,False,110.526316,42.0
68,"('2.1', '2.4')",pilot_3,2.4,False,168.627451,172.0
69,"('2.2', '2.3')",pilot_3,2.3,False,161.290323,25.0
70,"('2.2', '2.4')",pilot_3,2.4,False,190.697674,287.0
71,"('2.3', '2.4')",pilot_3,2.4,True,0.000000,0.0
72,"('3.1', '3.2')",pilot_3,3.1,False,200.000000,15.0
73,"('3.1', '3.3')",pilot_3,3.1,False,100.000000,6.0
74,"('3.1', '3.4')",pilot_3,3.4,False,160.000000,16.0
75,"('3.2', '3.3')",pilot_3,3.3,False,163.636364,18.0
76,"('3.2', '3.4')",pilot_3,3.2,False,32.558140,7.0
77,"('3.3', '3.4')",pilot_3,3.3,False,192.857143,54.0
78,"('4.1', '4.2')",pilot_3,4.2,False,44.444444,8.0
79,"('4.1', '4.3')",pilot_3,4.3,False,156.435644,79.0
80,"('4.1', '4.4')",pilot_3,4.4,True,16.759777,15.0
81,"('4.2', '4.3')",pilot_3,4.3,False,188.700565,167.0
82,"('4.2', '4.4')",pilot_3,4.4,False,180.198020,91.0
83,"('4.3', '4.4')",pilot_3,4.4,False,85.714286,36.0
84,"('5.1', '5.2')",pilot_3,5.2,False,126.760563,45.0
85,"('5.1', '5.3')",pilot_3,5.3,True,22.222222,2.0
86,"('5.1', '5.4')",pilot_3,5.4,False,184.660767,313.0
87,"('5.2', '5.3')",pilot_3,5.2,False,125.827815,95.0
88,"('5.2', '5.4')",pilot_3,5.4,False,102.222222,92.0
89,"('5.3', '5.4')",pilot_3,5.4,True,23.529412,4.0
90,"('6.1', '6.2')",pilot_3,6.1,True,28.571429,1.0
91,"('6.1', '6.3')",pilot_3,6.3,False,175.757576,29.0
92,"('6.1', '6.4')",pilot_3,6.4,False,185.185185,25.0
93,"('6.2', '6.3')",pilot_3,6.3,False,119.230769,62.0
94,"('6.2', '6.4')",pilot_3,6.4,False,66.666667,5.0
95,"('6.3', '6.4')",pilot_3,6.3,False,88.607595,35.0

# Combining all the dataframes

In [40]:
first_merged_final_elo_score_df = merged_final_elo_score_df.copy()
second_merged_final_elo_score_df = merged_final_elo_score_df.copy()

In [41]:
first_merged_final_elo_score_df.columns = ["first_{}".format(col) for col in first_merged_final_elo_score_df.columns]
second_merged_final_elo_score_df.columns = ["second_{}".format(col) for col in second_merged_final_elo_score_df.columns]

In [42]:
first_merged_final_elo_score_df

,first_cohort,first_subject_id,first_home_cage_observation_final_elo_score,first_home_cage_observation_rank,first_reward_competition_final_elo_score,first_reward_competition_rank,first_tube_test_final_elo_score,first_tube_test_rank,first_urine_marking_final_elo_score,first_urine_marking_rank
0,pilot_1,1.1,NaN,NaN,1165.8,1.0,1062.2,2.0,1010.3,2.0
1,pilot_1,1.2,NaN,NaN,1007.3,2.0,927.1,3.0,1000.8,3.0
2,pilot_1,1.3,NaN,NaN,900.9,4.0,775.7,4.0,972.0,4.0
3,pilot_1,1.4,NaN,NaN,926.0,3.0,1235.0,1.0,1016.9,1.0
4,pilot_1,2.1,NaN,NaN,1144.7,1.0,1122.6,2.0,1037.4,1.0
...,...,...,...,...,...,...,...,...,...,...
59,pilot_3,5.4,940.6,3.0,954.6,3.0,1165.3,1.0,1019.7,1.0
60,pilot_3,6.1,NaN,NaN,991.0,3.0,1137.7,1.0,980.6,3.0
61,pilot_3,6.2,NaN,NaN,752.6,4.0,1021.2,2.0,980.6,3.0
62,pilot_3,6.3,NaN,NaN,1235.4,1.0,1006.6,3.0,1028.8,1.0
63,pilot_3,6.4,NaN,NaN,1021.0,2.0,834.5,4.0,1010.0,2.0

In [43]:
merged_final_elo_score_df

,cohort,subject_id,home_cage_observation_final_elo_score,home_cage_observation_rank,reward_competition_final_elo_score,reward_competition_rank,tube_test_final_elo_score,tube_test_rank,urine_marking_final_elo_score,urine_marking_rank
0,pilot_1,1.1,NaN,NaN,1165.8,1.0,1062.2,2.0,1010.3,2.0
1,pilot_1,1.2,NaN,NaN,1007.3,2.0,927.1,3.0,1000.8,3.0
2,pilot_1,1.3,NaN,NaN,900.9,4.0,775.7,4.0,972.0,4.0
3,pilot_1,1.4,NaN,NaN,926.0,3.0,1235.0,1.0,1016.9,1.0
4,pilot_1,2.1,NaN,NaN,1144.7,1.0,1122.6,2.0,1037.4,1.0
...,...,...,...,...,...,...,...,...,...,...
59,pilot_3,5.4,940.6,3.0,954.6,3.0,1165.3,1.0,1019.7,1.0
60,pilot_3,6.1,NaN,NaN,991.0,3.0,1137.7,1.0,980.6,3.0
61,pilot_3,6.2,NaN,NaN,752.6,4.0,1021.2,2.0,980.6,3.0
62,pilot_3,6.3,NaN,NaN,1235.4,1.0,1006.6,3.0,1028.8,1.0
63,pilot_3,6.4,NaN,NaN,1021.0,2.0,834.5,4.0,1010.0,2.0

In [44]:
second_merged_final_elo_score_df.groupby(['second_subject_id', "second_cohort"]).count()

                                 second_home_cage_observation_final_elo_score  \
second_subject_id second_cohort
1.1               pilot_1                                                   0
                  pilot_2                                                   1
                  pilot_3                                                   0
1.2               pilot_1                                                   0
                  pilot_2                                                   1
...                                                                       ...
6.2               pilot_3                                                   0
6.3               pilot_2                                                   1
                  pilot_3                                                   0
6.4               pilot_2                                                   1
                  pilot_3                                                   0

                                 second_home_cage_observation_rank  \
second_subject_id second_cohort
1.1               pilot_1                                        0
                  pilot_2                                        1
                  pilot_3                                        0
1.2               pilot_1                                        0
                  pilot_2                                        1
...                                                            ...
6.2               pilot_3                                        0
6.3               pilot_2                                        1
                  pilot_3                                        0
6.4               pilot_2                                        1
                  pilot_3                                        0

                                 second_reward_competition_final_elo_score  \
second_subject_id second_cohort
1.1               pilot_1                                                1
                  pilot_2                                                1
                  pilot_3                                                1
1.2               pilot_1                                                1
                  pilot_2                                                1
...                                                                    ...
6.2               pilot_3                                                1
6.3               pilot_2                                                1
                  pilot_3                                                1
6.4               pilot_2                                                1
                  pilot_3                                                1

                                 second_reward_competition_rank  \
second_subject_id second_cohort
1.1               pilot_1                                     1
                  pilot_2                                     1
                  pilot_3                                     1
1.2               pilot_1                                     1
                  pilot_2                                     1
...                                                         ...
6.2               pilot_3                                     1
6.3               pilot_2                                     1
                  pilot_3                                     1
6.4               pilot_2                                     1
                  pilot_3                                     1

                                 second_tube_test_final_elo_score  \
second_subject_id second_cohort
1.1               pilot_1                                       1
                  pilot_2                                       1
                  pilot_3                                       1
1.2               pilot_1                                       1
                  pilot_2                                       1
...                                                           ...
6.2               pilot_3                                       1
6.3               pilot_2                                       1
                  pilot_3                                       1
6.4               pilot_2                                       1
                  pilot_3                                       1

                                 second_tube_test_rank  \
second_subject_id second_cohort
1.1               pilot_1                            1
                  pilot_2                            1
                  pilot_3                            1
1.2               pilot_1                            1
                  pilot_2                            1
...                                                ...
6.2               pilot_3                            1
6.3               pilot_2                            1
                  pilot_3                            1
6.4               pilot_2                            1
                  pilot_3                            1

                                 second_urine_marking_final_elo_score  \
second_subject_id second_cohort
1.1               pilot_1                                           1
                  pilot_2                                           1
                  pilot_3                                           1
1.2               pilot_1                                           1
                  pilot_2                                           1
...                                                               ...
6.2               pilot_3                                           1
6.3               pilot_2                                           1
                  pilot_3                                           1
6.4               pilot_2                                           1
                  pilot_3                                           1

                                 second_urine_marking_rank
second_subject_id second_cohort
1.1               pilot_1                                1
                  pilot_2                                1
                  pilot_3                                1
1.2               pilot_1                                1
                  pilot_2                                1
...                                                    ...
6.2               pilot_3                                1
6.3               pilot_2                                1
                  pilot_3                                1
6.4               pilot_2                                1
                  pilot_3                                1

[64 rows x 8 columns]

In [45]:
pd.unique(second_merged_final_elo_score_df[['second_subject_id', 'second_cohort']].values.ravel('K'))

array(['1.1', '1.2', '1.3', '1.4', '2.1', '2.2', '2.3', '2.4', '3.1',
       '3.2', '3.3', '3.4', '4.1', '4.2', '4.3', '4.4', '5.1', '5.2',
       '5.3', '5.4', '6.1', '6.2', '6.3', '6.4', 'pilot_1', 'pilot_2',
       'pilot_3'], dtype=object)

In [46]:
second_merged_final_elo_score_df["second_subject_id"]

0     1.1
1     1.2
2     1.3
3     1.4
4     2.1
     ...
59    5.4
60    6.1
61    6.2
62    6.3
63    6.4
Name: second_subject_id, Length: 64, dtype: object

In [47]:
merged_all_protocol_pairwise_df["first_tuple_animal_id"] = merged_all_protocol_pairwise_df["tuple_animal_id"].apply(lambda x: ast.literal_eval(x)[0])
merged_all_protocol_pairwise_df["second_tuple_animal_id"] = merged_all_protocol_pairwise_df["tuple_animal_id"].apply(lambda x: ast.literal_eval(x)[1])

In [48]:
pairwise_and_final_elo_score_df = pd.merge(merged_all_protocol_pairwise_df, first_merged_final_elo_score_df,  how='left', left_on=['first_tuple_animal_id','cohort'], right_on = ['first_subject_id','first_cohort'])
pairwise_and_final_elo_score_df = pd.merge(pairwise_and_final_elo_score_df, second_merged_final_elo_score_df,  how='left', left_on=['second_tuple_animal_id','cohort'], right_on = ['second_subject_id','second_cohort'])

In [49]:
pairwise_and_final_elo_score_df

,tuple_animal_id,first_spot_number,second_spot_number,processed_cage_number_x,cohort,strain,uma_number_difference,uma_percent_difference,uma_number_tie,uma_percent_tie,...,second_cohort,second_subject_id,second_home_cage_observation_final_elo_score,second_home_cage_observation_rank,second_reward_competition_final_elo_score,second_reward_competition_rank,second_tube_test_final_elo_score,second_tube_test_rank,second_urine_marking_final_elo_score,second_urine_marking_rank
0,"('1.1', '1.2')",69.0,10.5,1,pilot_1,C57,58.5,147.169811,False,False,...,pilot_1,1.2,NaN,NaN,1007.3,2.0,927.1,3.0,1000.8,3.0
1,"('1.1', '1.3')",23.5,0.0,1,pilot_1,C57,23.5,200.000000,False,False,...,pilot_1,1.3,NaN,NaN,900.9,4.0,775.7,4.0,972.0,4.0
2,"('1.1', '1.4')",18.0,15.0,1,pilot_1,C57,3.0,18.181818,True,True,...,pilot_1,1.4,NaN,NaN,926.0,3.0,1235.0,1.0,1016.9,1.0
3,"('1.2', '1.3')",0.0,0.0,1,pilot_1,C57,0.0,0.000000,True,True,...,pilot_1,1.3,NaN,NaN,900.9,4.0,775.7,4.0,972.0,4.0
4,"('1.2', '1.4')",12.0,8.0,1,pilot_1,C57,4.0,40.000000,True,False,...,pilot_1,1.4,NaN,NaN,926.0,3.0,1235.0,1.0,1016.9,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,"('6.1', '6.3')",2.0,31.0,6,pilot_3,CD1,29.0,175.757576,False,False,...,pilot_3,6.3,NaN,NaN,1235.4,1.0,1006.6,3.0,1028.8,1.0
92,"('6.1', '6.4')",1.0,26.0,6,pilot_3,CD1,25.0,185.185185,False,False,...,pilot_3,6.4,NaN,NaN,1021.0,2.0,834.5,4.0,1010.0,2.0
93,"('6.2', '6.3')",21.0,83.0,6,pilot_3,CD1,62.0,119.230769,False,False,...,pilot_3,6.3,NaN,NaN,1235.4,1.0,1006.6,3.0,1028.8,1.0
94,"('6.2', '6.4')",5.0,10.0,6,pilot_3,CD1,5.0,66.666667,False,False,...,pilot_3,6.4,NaN,NaN,1021.0,2.0,834.5,4.0,1010.0,2.0
95,"('6.3', '6.4')",57.0,22.0,6,pilot_3,CD1,35.0,88.607595,False,False,...,pilot_3,6.4,NaN,NaN,1021.0,2.0,834.5,4.0,1010.0,2.0

In [50]:
pairwise_and_final_elo_score_df.to_csv("./proc/pairwise_and_final_elo_score.csv")

In [51]:
raise ValueError("")

ValueError:

In [ ]:
pairwise_and_final_elo_score_df.to_csv("./proc/")

## Urine Marking Assay

urine_marking_file_paths = glob.glob("./pilot_*/data/*Urine*.xlsx", recursive=True)

In [ ]:
urine_marking_file_paths = glob.glob("./**/*urine_marking_elo_score_history*.csv", recursive=True)

In [ ]:
urine_marking_file_paths

In [ ]:
all_urine_marking_df = []
for file_path in urine_marking_file_paths:
    all_urine_marking_df.append(pd.read_csv(file_path, index_col=0))

all_urine_marking_df = []
for file_path in urine_marking_file_paths:
    all_urine_marking_df.append(pd.read_csv(file_path, index_col=0))

In [ ]:
combined_urine_marking_df = pd.concat(all_urine_marking_df)
combined_urine_marking_df = combined_urine_marking_df.reset_index(drop=True)

In [ ]:
combined_urine_marking_df = combined_urine_marking_df.reset_index()

- For even rows, the left pee spots correspond to the subject's pee spots

In [ ]:
even_urine_marking_df = combined_urine_marking_df[combined_urine_marking_df["index"] % 2 == 0].copy()

In [ ]:
even_urine_marking_df.columns

In [ ]:
even_urine_marking_df = even_urine_marking_df.rename(columns={"subject_id": "left_subject_id"})
even_urine_marking_df = even_urine_marking_df.rename(columns={"subject_ranking": "left_ranking"})
even_urine_marking_df = even_urine_marking_df.rename(columns={"updated_elo_score": "left_elo_score"})
even_urine_marking_df = even_urine_marking_df.drop(columns=["agent_id", "agent_ranking", "right_number_of_spots", "original_elo_score"])
even_urine_marking_df.insert(0, 'matching_index', range(1, 1 + len(even_urine_marking_df)))

In [ ]:
odd_urine_marking_df = combined_urine_marking_df[combined_urine_marking_df["index"] % 2 != 0].copy()

In [ ]:
odd_urine_marking_df = odd_urine_marking_df.rename(columns={"subject_id": "right_subject_id"})
odd_urine_marking_df = odd_urine_marking_df.rename(columns={"subject_ranking": "right_ranking"})
odd_urine_marking_df = odd_urine_marking_df.rename(columns={"updated_elo_score": "right_elo_score"})
odd_urine_marking_df = odd_urine_marking_df.drop(columns=["agent_id", "agent_ranking", "left_number_of_spots", "original_elo_score"])
odd_urine_marking_df.insert(0, 'matching_index', range(1, 1 + len(odd_urine_marking_df)))

In [ ]:
even_urine_marking_df.head()

In [ ]:
odd_urine_marking_df.head()

In [ ]:
cols_to_use = list(odd_urine_marking_df.columns.difference(even_urine_marking_df.columns))
cols_to_use.append("matching_index")

In [ ]:
cols_to_use

In [ ]:
urine_marking_left_right = pd.merge(even_urine_marking_df, odd_urine_marking_df[cols_to_use], left_on=["matching_index"], right_on=["matching_index"], how='outer')

In [ ]:
urine_marking_left_right

In [ ]:
sorted(urine_marking_left_right.columns)

In [ ]:
sorted_columns = ['experiment_type',
 'cohort',
 'cage',
 'processed_cage_number',
 'strain',
 'date',
 'match',
 'winner',
 'loser',
 'ties',
 'left_elo_score',
 'left_number_of_spots',
 'left_ranking',
 'left_subject_id',
 'right_elo_score',
 'right_number_of_spots',
 'right_ranking',
 'right_subject_id',
 'session_number',
 'session_number_difference',
 'total_match_number',
 'win_draw_loss',
 ]

In [ ]:
urine_marking_left_right = urine_marking_left_right[sorted_columns]

In [ ]:
urine_marking_left_right.head()

In [ ]:
urine_marking_left_right["left_subject_id"] = urine_marking_left_right["left_subject_id"].astype(str)
urine_marking_left_right["right_subject_id"] = urine_marking_left_right["right_subject_id"].astype(str)

In [ ]:
merged_final_elo_score_df["subject_id"] = merged_final_elo_score_df["subject_id"].astype(str)

In [ ]:
left_merged_final_elo_score_df = merged_final_elo_score_df

In [ ]:
left_subject_column_renaming = {}
for col in left_merged_final_elo_score_df.columns:
    left_subject_column_renaming[col] = "left_" + col

In [ ]:
left_merged_final_elo_score_df = left_merged_final_elo_score_df.rename(columns=left_subject_column_renaming)

In [ ]:
right_merged_final_elo_score_df = merged_final_elo_score_df

In [ ]:
right_subject_column_renaming = {}
for col in right_merged_final_elo_score_df.columns:
    right_subject_column_renaming[col] = "right_" + col

In [ ]:
right_merged_final_elo_score_df = right_merged_final_elo_score_df.rename(columns=right_subject_column_renaming)

In [ ]:
cols_to_use = list(urine_marking_left_right.columns.difference(left_merged_final_elo_score_df.columns))
# cols_to_use.append("cohort")
cols_to_use.append("left_subject_id")

In [ ]:
cols_to_use

In [ ]:
urine_and_elo_score_df = pd.merge(urine_marking_left_right[cols_to_use], left_merged_final_elo_score_df, left_on=["left_subject_id", "cohort"], right_on=["left_subject_id", "left_cohort"], how='inner')

In [ ]:
cols_to_use = list(urine_and_elo_score_df.columns.difference(right_merged_final_elo_score_df.columns))
cols_to_use.append("right_subject_id")

In [ ]:
urine_and_elo_score_df = pd.merge(urine_and_elo_score_df[cols_to_use], right_merged_final_elo_score_df, left_on=["right_subject_id", "cohort"], right_on=["right_subject_id", "right_cohort"], how='inner')

In [ ]:
urine_and_elo_score_df["pee_spot_difference"] = urine_and_elo_score_df["left_number_of_spots"] - urine_and_elo_score_df["right_number_of_spots"]
urine_and_elo_score_df["tube_test_elo_score_difference"] = urine_and_elo_score_df["left_tube_test_final_elo_score"] - urine_and_elo_score_df["right_tube_test_final_elo_score"]
urine_and_elo_score_df["home_cage_observation_elo_score_difference"] = urine_and_elo_score_df["left_home_cage_observation_final_elo_score"] - urine_and_elo_score_df["right_home_cage_observation_final_elo_score"]
urine_and_elo_score_df["reward_competition_elo_score_difference"] = urine_and_elo_score_df["left_reward_competition_final_elo_score"] - urine_and_elo_score_df["right_reward_competition_final_elo_score"]

urine_and_elo_score_df["tube_test_rank_difference"] = urine_and_elo_score_df["left_tube_test_rank"] - urine_and_elo_score_df["right_tube_test_rank"]
urine_and_elo_score_df["home_cage_observation_rank_difference"] = urine_and_elo_score_df["left_home_cage_observation_rank"] - urine_and_elo_score_df["right_home_cage_observation_rank"]
urine_and_elo_score_df["reward_competition_rank_difference"] = urine_and_elo_score_df["left_reward_competition_rank"] - urine_and_elo_score_df["right_reward_competition_rank"]

In [ ]:
sorted(urine_and_elo_score_df.columns)

In [ ]:
sorted_columns = ['cohort',
 'cage',
 'processed_cage_number',
 'strain',

 'date',
 'winner',
 'loser',
 'ties',

 'left_subject_id',
 'left_elo_score',
 'left_ranking',
 'right_subject_id',
 'right_elo_score',
 'right_ranking',
 'left_number_of_spots',
 'right_number_of_spots',
 'pee_spot_difference', 
 'tube_test_elo_score_difference',
 'home_cage_observation_elo_score_difference',
 'reward_competition_elo_score_difference',
 'tube_test_rank_difference',
 'home_cage_observation_rank_difference',
 'reward_competition_rank_difference',  
                  
 'left_home_cage_observation_final_elo_score',
 'left_home_cage_observation_rank',
 'left_reward_competition_final_elo_score',
 'left_reward_competition_rank',
 'left_tube_test_final_elo_score',
 'left_tube_test_rank',
 'left_urine_marking_final_elo_score',
 'left_urine_marking_rank',

 'right_home_cage_observation_final_elo_score',
 'right_home_cage_observation_rank',
 'right_reward_competition_final_elo_score',
 'right_reward_competition_rank',
 'right_tube_test_final_elo_score',
 'right_tube_test_rank',
 'right_urine_marking_final_elo_score',
 'right_urine_marking_rank',

 'session_number',
 'session_number_difference',
 'total_match_number']

In [ ]:
urine_and_elo_score_df = urine_and_elo_score_df[sorted_columns]

In [ ]:
urine_and_elo_score_df

In [ ]:
urine_and_elo_score_df.to_csv("./proc/urine_marking_with_all_elo_score.csv")

In [ ]:
urine_and_elo_score_df.dropna(axis=1)

In [ ]:
urine_and_elo_score_df.columns.difference(urine_and_elo_score_df.dropna(axis=1).columns)

# Plotting

In [ ]:
urine_and_elo_score_df["winner_number_of_spots"] = urine_and_elo_score_df.apply(lambda x: x["left_number_of_spots"] if x["left_number_of_spots"] >= x["right_number_of_spots"] else x["right_number_of_spots"], axis = 1)
urine_and_elo_score_df["loser_number_of_spots"] = urine_and_elo_score_df.apply(lambda x: x["left_number_of_spots"] if x["left_number_of_spots"] <= x["right_number_of_spots"] else x["right_number_of_spots"], axis = 1)

In [ ]:
urine_and_elo_score_df.columns

In [ ]:
urine_and_elo_score_df["adjusted_winner_number_of_spots"] = urine_and_elo_score_df["winner_number_of_spots"].apply(lambda x: 100 if x >= 100 else x)
urine_and_elo_score_df["adjusted_loser_number_of_spots"] = urine_and_elo_score_df["loser_number_of_spots"].apply(lambda x: 100 if x >= 100 else x)
urine_and_elo_score_df["adjusted_pee_spot_difference"] = urine_and_elo_score_df["pee_spot_difference"].abs().apply(lambda x: 100 if x >= 100 else x)

In [ ]:
c57_df = urine_and_elo_score_df[urine_and_elo_score_df["strain"] == "C57"]

c57_df = c57_df[c57_df["winner_number_of_spots"] <= 100]

In [ ]:
plt.hist(c57_df["winner_number_of_spots"], bins=30)

In [ ]:
plt.hist(c57_df["loser_number_of_spots"], bins=30)

In [ ]:
bins = 30

In [ ]:
plt.hist(c57_df["adjusted_winner_number_of_spots"], bins, alpha=0.5, label='Winner')
plt.hist(c57_df["adjusted_loser_number_of_spots"], bins, alpha=0.5, label='Loser')
plt.axvline(c57_df["adjusted_winner_number_of_spots"].abs().mean(), color='k', linestyle='-', linewidth=1, label="Winner Average")
plt.axvline(c57_df["adjusted_loser_number_of_spots"].abs().mean(), color='k', linestyle='--', linewidth=1, label="Loser Average")
plt.title("C57 Number of Pee Spots vs Sessions")
plt.xlabel("Number of pee spots")
plt.ylabel("Number of sessions")
plt.legend(loc='upper right')
plt.savefig("./proc/c57_pee_spots.png")
plt.show()

In [ ]:
cd1_df = urine_and_elo_score_df[urine_and_elo_score_df["strain"] == "CD1"]

cd1_df = cd1_df[cd1_df["winner_number_of_spots"] <= 100]

In [ ]:
bins = 30

In [ ]:
plt.hist(cd1_df["adjusted_winner_number_of_spots"], bins, alpha=0.5, label='Winner')
plt.hist(cd1_df["adjusted_loser_number_of_spots"], bins, alpha=0.5, label='Loser')
plt.axvline(cd1_df["adjusted_winner_number_of_spots"].abs().mean(), color='k', linestyle='-', linewidth=1, label="Winner Average")
plt.axvline(cd1_df["adjusted_loser_number_of_spots"].abs().mean(), color='k', linestyle='--', linewidth=1, label="Loser Average")
plt.title("CD1 Number of Pee Spots vs Sessions")
plt.xlabel("Number of pee spots")
plt.ylabel("Number of sessions")
plt.legend(loc='upper right')
plt.savefig("./proc/cd1_pee_spots.png")
plt.show()

In [ ]:
plt.hist(c57_df["pee_spot_difference"].abs(), bins, alpha=0.5, label='C57')
plt.hist(cd1_df["pee_spot_difference"].abs(), bins, alpha=0.5, label='CD1')

# plt.hist(c57_df["pee_spot_difference"], bins, alpha=0.5, label='Difference')
plt.title("CD1 and C57 Number of Pee Spots Differences")
plt.xlabel("Difference in pee spots")
plt.axvline(c57_df["pee_spot_difference"].abs().mean(), color='k', linestyle='-', linewidth=1, label="C57 Average")
plt.axvline(cd1_df["pee_spot_difference"].abs().mean(), color='k', linestyle='--', linewidth=1, label="CD1 Average")

plt.ylabel("Number of sessions")
plt.legend(loc='upper right')
plt.savefig("./proc/pee_spot_difference.png")

plt.show()

In [ ]:
plt.hist(c57_df["adjusted_pee_spot_difference"].abs(), bins, alpha=0.5, label='C57')
plt.hist(cd1_df["adjusted_pee_spot_difference"].abs(), bins, alpha=0.5, label='CD1')

# plt.hist(c57_df["pee_spot_difference"], bins, alpha=0.5, label='Difference')
plt.title("Adjusted CD1 and C57 Number of Pee Spots Differences")
plt.xlabel("Difference in pee spots")
plt.axvline(c57_df["adjusted_pee_spot_difference"].abs().mean(), color='k', linestyle='-', linewidth=1, label="C57 Average")
plt.axvline(cd1_df["adjusted_pee_spot_difference"].abs().mean(), color='k', linestyle='--', linewidth=1, label="CD1 Average")

plt.ylabel("Number of sessions")
plt.legend(loc='upper right')
plt.savefig("./proc/adjusted_pee_spot_difference.png")

plt.show()